/**
 * Component:	Variables
 * Description:	Define all variables
*/
.yd-list {
  overflow: hidden;
  position: relative;
}
.yd-list-item:active {
  background: none;
  /* for firefox */
}
.yd-list-img {
  height: 0;
  width: 100%;
  padding: 50% 0;
  overflow: hidden;
}
.yd-list-img img {
  width: 100%;
  margin-top: -50%;
  background-color: #FFF;
  border: none;
  display: block;
}
.yd-list-mes {
  background-color: #FFF;
}
.yd-list-title {
  color: #505050;
  font-size: .26rem;
  text-align: justify;
  font-weight: 800;
}
.yd-list-other {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #999;
}
.yd-list-theme1 {
  padding: 0 2px 0;
}
.yd-list-theme1 .yd-list-item {
  width: 50%;
  float: left;
  padding: 0 2px;
  margin-top: 4px;
}
.yd-list-theme1 .yd-list-item .yd-list-mes {
  padding: .1rem;
}
.yd-list-theme1 .yd-list-item .yd-list-title {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
  height: .36rem;
}
.yd-list-theme2 .yd-list-item {
  width: 50%;
  float: left;
  padding-top: 4px;
}
.yd-list-theme2 .yd-list-item:nth-child(odd) {
  padding-right: 2px;
}
.yd-list-theme2 .yd-list-item:nth-child(even) {
  padding-left: 2px;
}
.yd-list-theme2 .yd-list-item .yd-list-mes {
  padding: .1rem;
}
.yd-list-theme2 .yd-list-item .yd-list-title {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
  height: .36rem;
}
.yd-list-theme3 .yd-list-item {
  width: 50%;
  float: left;
  padding: .2rem;
  position: relative;
  z-index: 0;
  background-color: #FFF;
}
.yd-list-theme3 .yd-list-item:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.yd-list-theme3 .yd-list-item:nth-child(odd):after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #D9D9D9;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.yd-list-theme3 .yd-list-item .yd-list-mes {
  padding-top: .1rem;
}
.yd-list-theme3 .yd-list-item .yd-list-title {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
  height: .36rem;
}
.yd-list-theme3 .yd-list-item:active {
  background: #FFF;
  /* for old android */
}
.yd-list-theme4 {
  padding: 0 7px;
  background-color: #FFF;
}
.yd-list-theme4 .yd-list-item {
  overflow: hidden;
  display: flex;
  padding: 7px 0 8px 0;
  position: relative;
}
.yd-list-theme4 .yd-list-item:not(:last-child):after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.yd-list-theme4 .yd-list-item .yd-list-img {
  width: 2rem;
  padding: 1rem 0;
}
.yd-list-theme4 .yd-list-item .yd-list-mes {
  flex: 1;
  padding-left: 7px;
}
.yd-list-theme4 .yd-list-item .yd-list-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  line-height: 0.38rem;
  max-height: 1.34rem;
}
.yd-list-theme4 .yd-list-item .yd-list-other {
  padding-top: .1rem;
}
.yd-list-theme5 {
  background-color: #FFF;
}
.yd-list-theme5 .yd-list-item {
  display: block;
  position: relative;
  z-index: 1;
  padding: .2rem .2rem 0 .2rem;
}
.yd-list-theme5 .yd-list-item:after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.yd-list-theme5 .yd-list-item .yd-list-mes {
  padding: .2rem 0 .15rem;
}
.yd-list-theme5 .yd-list-item .yd-list-other {
  padding-top: .06rem;
}
.yd-list-theme6 {
  padding: 0 7px;
  background-color: #FFF;
}
.yd-list-theme6 .yd-list-item {
  overflow: hidden;
  display: flex;
  padding: 7px 0 8px 0;
  position: relative;
}
.yd-list-theme6 .yd-list-item:not(:last-child):after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.yd-list-theme6 .yd-list-item .yd-list-img {
  width: 1rem;
  padding: .5rem 0;
}
.yd-list-theme6 .yd-list-item .yd-list-mes {
  flex: 1;
  padding-left: 7px;
  align-self: center;
}
.yd-list-theme6 .yd-list-item .yd-list-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  line-height: 0.38rem;
  max-height: 1.34rem;
}
.yd-list-theme6 .yd-list-item .yd-list-other {
  padding-top: .1rem;
}
@media screen and (min-width: 768px) {
  .yd-list-theme1 {
    padding: 0 4px;
  }
  .yd-list-theme1 .yd-list-item {
    padding: 0 4px;
    margin-top: 8px;
  }
  .yd-list-theme2 .yd-list-item {
    padding-top: 8px;
  }
  .yd-list-theme2 .yd-list-item:nth-child(odd) {
    padding-right: 4px;
  }
  .yd-list-theme2 .yd-list-item:nth-child(even) {
    padding-left: 4px;
  }
  .yd-list-theme4 {
    padding: 0 9px;
  }
  .yd-list-theme4 .yd-list-item {
    padding: 9px 0 10px 0;
  }
  .yd-list-theme4 .yd-list-item .yd-list-mes {
    padding-left: 9px;
  }
}
